.contact-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cell-number {
  font-size: 2em;
}

.location {
  width: 50vw;
  aspect-ratio: 2;
}
